body {
    margin:0;
    padding:0;
    font-size:22px;
    font-family: 'Gentium Basic', serif;
}

code, pre {
    font-size:18px;
}


@media screen and (max-width: 800px) {
    body {
        font-size:18px !important;
    }

    pre, code {
        font-size:14px !important;
    }
}

html {
    margin:0;
}

@font-face {
  font-family: 'EdmondSansMedium';
  src: url('@{icon-font-path}Edmondsans-Medium.eot');
  src: url('@{icon-font-path}Edmondsans-Medium.eot?#iefix') format('embedded-opentype'),
       url('@{icon-font-path}Edmondsans-Medium.woff') format('woff'),
       url('@{icon-font-path}Edmondsans-Medium.ttf') format('truetype'),
       url('@{icon-font-path}Edmondsans-Medium.svg') format('svg');
}

@font-face {
  font-family: 'EdmondSansRegular';
  src: url('@{icon-font-path}Edmondsans-Regular.eot');
  src: url('@{icon-font-path}Edmondsans-Regular.eot?#iefix') format('embedded-opentype'),
       url('@{icon-font-path}Edmondsans-Regular.woff') format('woff'),
       url('@{icon-font-path}Edmondsans-Regular.ttf') format('truetype'),
       url('@{icon-font-path}Edmondsans-Regular.svg') format('svg');
}

@font-face {
  font-family: 'EdmondSansBold';
  src: url('@{icon-font-path}Edmondsans-Bold.eot');
  src: url('@{icon-font-path}Edmondsans-Bold.eot?#iefix') format('embedded-opentype'),
       url('@{icon-font-path}Edmondsans-Bold.woff') format('woff'),
       url('@{icon-font-path}Edmondsans-Bold.ttf') format('truetype'),
       url('@{icon-font-path}Edmondsans-Bold.svg') format('svg');
}

@font-face {
  font-family: 'MonacoWebFont';
  src: url('@{icon-font-path}monaco-webfont.eot');
  src: url('@{icon-font-path}monaco-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{icon-font-path}monaco-webfont.woff') format('woff'),
       url('@{icon-font-path}monaco-webfont.ttf') format('truetype'),
       url('@{icon-font-path}monaco-webfont.svg') format('svg');
}

.core {
    height:1px;
    padding:0px;
    max-width: 900px;
    margin:auto;
    margin-top:0px;
    margin-bottom:20px;
}

.toc .slide {
    margin-top:10px;
}

.toc {
    font-size:24px;
    font-weight:bold;
    color:#b1e3ff;
}

.toc li {
    list-style:square;
    margin-left:30px;
}
.toc ul {
    margin-left:0;
    margin-bottom:9px;
    padding:0;
}

.toc ul ul {
    margin-left:30px;
    margin-bottom:2px;
}

.toc ul ul {
    font-size: 20px;
    font-weight:normal;
}

.toc > ul > li {
    margin-top:20px;
    margin-bottom:5px;
}

.center {
    text-align:center;
}

.annex {
    padding-top:10px;
    padding-bottom:10px;
    font-size:25px;
}

.contents a {
    text-decoration:none;
}

.contents a:hover {
    text-decoration:underline;
}

h1 {
    font-weight:bold;
}

h1, h2, h3 {
    text-shadow:2px 2px 1px #eee;
    font-family: var(--bs-body-font-family);
}

h1 {
    font-variant:small-caps;
    text-shadow:3px 3px 3px #ddd;
    margin-top:0px;
}

h2 {
    border-top:1px dashed #ccc;
    padding-top:15px;
}

li {
}

b {
    text-shadow:2px 2px 1px #eee;
}

.footer {
    margin-top:10px;
    margin-bottom:10px;
    width:100%;
    float:left;
}

li.current {
    font-weight:bold;
}

li.current a {
    color:black;
}

a.prev, a.next {
    font-size:20px;
    font-weight:bold;
}


.slide {
    width:100%;
    background-color:white;
}


.slideNumber {
    position:absolute;
    z-index:5;
}

@media screen and (max-width: 800px) {
    .slideNumber {
        display:none !important;
    }
}

.showMobile {
    display:none;
}

.mobileControls {
    display:none;
    position:fixed;
    right:10px;
    bottom:70px;
    z-index:100;
}

.slideMode, .exitSlideMode {
    position:fixed;
    right:10px;
    bottom:10px;
    z-index:100;
}

img {
    max-width:100%;
    border:0px;
    vertical-align:middle;
    margin:20px;
}

p img {
    margin:0px;
}

img.formula {
    margin:0px;
}

.right {
    float:right;
}

.left {
    float:left;
}

.contents {
    width:100%;
    text-align:justify;
    background-color:white;
    float:left;
    padding:10px;
}

table {
    width: 100%;
}

th {
    font-weight:bold;
    color:white;
    background-color:#666;
}

th, td {
    padding: 3px;
    border-bottom:2px solid white;
}

td {
    background:#fafafa;
    border:1px solid #ddd;
}

.bold {
    font-weight:bold;
}

hr {
    margin-top:0;
    margin-bottom:0;
    border:0;
    width:100%;
    height:1px;
    border-bottom:1px dashed #ccc;
}

ul li.dash:before {
    content:"-";
    position:relative;
    left:-15px;
}

ul li.dash {
    text-indent:-5px;
    list-style:none;
}

html {
    background-image:url('gfx/texture.png');
    background-attachment: fixed;
}

.warning {
    .alert;
    .alert-warning;
}

.success {
    .alert;
    .alert-success;
}

.important {
    .well;
    font-size:120%;
    text-align:center;
    font-weight:bold;
}

.note, .tip, .spoiler {
    .alert;
    .alert-info;
}

a.permalink {
    color:#aaa;
}

.youtube {
    width:560px;
    height:315px;
    margin:5px;
}

.poll ul {
    list-style-type:none;
    cursor:pointer;
}

.btn-light {
    border:1px solid #aaa !important;
    box-shadow: inset 0 0 10px #ddd;
}

.alert-light {
    box-shadow: inset 0 0 25px #ddd;
}

.middleSlide  {
    text-align:center;
}

.currentSlideNumber {
    font-weight:500;
}