body {
    width: 900px;
    font-family: sans-serif;
    margin:auto;
    font-size:18px;
    margin-top:0px;
}

.summary {
    font-size:24px;
    font-weight:bold;
    color:#e6e4ff;
}

.summary li {
    list-style:square;
}

.summary ul ul {
    font-size: 20px;
    font-weight:normal;
}

.annexSummary a {
    color:#181080;
}

.annex {
    padding-top:10px;
    padding-bottom:10px;
    font-size:25px;
}

.annex a {
    color:#181080;
    font-weight:bold;
}

h1 {
    text-align:center;
    font-weight:bold;
    font-size:54px;
    text-shadow:3px 3px 3px #ddd;
    margin-top:0px;
}

h2 {
    border:1px solid #ccc;
    margin: 2px;
    background-color:white;
    padding:2px;
    border-radius:10px;
    font-size:22px;
    margin-bottom:0px;
}

h3 {
    font-size:18px;
    text-align:left;
    margin-left:12px;
    margin-right:10px;
    margin-top:10px;
    margin-bottom:10px;
    padding-bottom:1px;
    border-bottom:2px solid #ddd;
}

h2:before {
    content:'» ';
    color:#70c600;
    font-size:25px;    
    font-family:sans-serif;
}

.text {
    text-align:justify;
    background-color:#f6f6f6;
    padding:5px;
    padding-bottom:8px;
    margin-top:0px;
    margin-left:10px;
    margin-right:10px;
}

li {
}

b {
    text-shadow:2px 2px 1px #eee;
}

a {
    color:#5c41ff;
    text-decoration:none;
}

a:hover {
    color: black;
    text-decoration:underline;
}

.highlight { line-height:17px; }
.highlight .hll { background-color: #ffffcc; }
.highlight  { background: #000000; color: white; font-size: 16px; border-radius: 10px; -moz-border-radius:10px;  }
.highlight pre { padding:5px; }
.highlight .kw1 { color: #fce94f; font-weight: bold; }
.highlight .kw2 { color: #8ae233; font-weight: bold; }
.highlight .kw3 { color: #729fcf; font-weight: bold; }
.highlight .sc2 { color: #729fcf; font-weight: bold; }
.highlight .re0 { color: #31e2e2; font-weight: bold; }
.highlight .sc0 { color: #888888; }
.highlight .sc-1{ color: #888888; }
.highlight .co1 { color: #888888; }
.highlight .co2 { color: #888888; }
.highlight .co3 { color: #888888; }
.highlight .co4 { color: #888888; }
.highlight .coMULTI { color: #888888; }
.highlight .me0 { color: #fce94f; }
.highlight .me1 { color: #fce94f; }
.highlight .kw4 { color: #729fcf; font-weight: bold; }
.highlight .br0 { color: #729fcf; font-weight: bold; }
.highlight .sy0 { color: #888888; }
.highlight .st_h  { color: #e83636; }
.highlight .st0  { color: #e83636; }
.highlight .nu0 { color: #e83636; }
.highlight .nu19 { color: #e83636; }
.highlight .nu1 { color: #e83636; }

pre.code {
    display:block;
    margin:10px;
    border:1px solid #aaa;
    padding:3px;
    font-family:courier;
    background-color:white;
    border-radius:3px;
}

code {
    padding:2px;
    font-family:courier;
}

.prev {
    float:left;
}

.next {
    float:right;
}

.footer {
    margin-top:10px;
    margin-bottom:10px;
    width:100%;
    float:left;
}

li.current {
    font-weight:bold;
}

li.current a {
    color:black;
}

p {
    margin-top:13px;
    margin-bottom:13px;
}

a.prev, a.next {
    font-size:20px;
    font-weight:bold;
}

.slideEnabled {
    display:table;
    width:900px;
    font-size:35px;
}

.slide {
    width:900px;
}

.slideEnabled .middleSlide {
    vertical-align:middle;
    display:table-cell;
    text-align:left;
}

.slideEnabled h1 {
    font-size:60px;
}

.slideEnabled h2 {
    font-size:45px;
    border:none;
    border-bottom:3px solid #aaa;
}

.slideEnabled h2:before {
    content:'';
}

.slideEnabled h3 {
    font-size:35px;
}

.slideEnabled .highlight {
    font-size:30px;
    line-height:27px;
    padding-top:3px;
    padding-bottom:3px;
    overflow:hidden;
}

.slideEnabled .highlight pre {
    margin:10px;
}

.slideNumber {
    color:#aaa;
    font-size:20px;
    cursor:pointer;
}

.slideEnabled .slideNumber {
    position:absolute;
    font-size:50px;
}

.slideMode {
    width:192px;
    height:64px;
    position:fixed;
    right:20px;
    bottom:20px;
}

.slideModeNormal, .slideModeSlide, .goHome {
    width:64px;
    height:64px;
    float:left;
    opacity:0.5;
    filter:alpha(opacity=50);
}

.slideModeNormal:hover, .slideModeSlide:hover,
.goHome:hover,
.slideModeEnabled {
    opacity:1.0;
    filter:alpha(opacity=100);
}

.slideModeSlide {
    background-image:url('gfx/projector.png');
}

.slideModeNormal {
    background-image:url('gfx/book.png');
}

.goHome {
    background-image:url('gfx/home.png');
}

.slideEnabled .summarySlide {
    font-size: 60px;
}

.slideEnabled .summarySlide ul {
    font-size: 45px;
}

img {
    margin:20px;
    border:0px;
    vertical-align:middle;
}

img.formula {
    margin:0px;
}

.right {
    float:right;
}

.left {
    float:left;
}

.slideEnabled p {
    margin-bottom:35px;
}

.contents {
    text-align:justify;
}

table {
    width: 100%;
}

table, tr, td, th {
    border-collapse: collapse;
}

th {
    font-weight:bold;
    color:white;
    background-color:#666;
}

th, td {
    padding: 3px;
    border-bottom:2px solid white;
}

td {
    background:#eee;
}

.bold {
    font-weight:bold;
}


.menu {
    font-weight:bold;
    position:fixed;
    font-size:17px;
    margin-left:-300px;
    margin-top:30px;
    width:280px;
}

.menuh2 {
    font-weight:bold;
    font-size:85%;
    margin-left:10px;
}

.menuh3 {
    font-weight:normal;
    font-size:70%;
    margin-left:30px;
}

.menuItem {
    color:#666;
    cursor:pointer;
}

.menu .menuPassed {
    text-decoration:line-through;
    color:#aaa;
}

.menu .menuItem:hover {
    color:black;
}

.slide hr {
    border:0;
    background-color:#aaa;
}
